
<h3>Edit Product</h3>

<form (submit)="onSubmit()" #form="ngForm" class=form-horizontal>

  <div class=form-group>
    <div class=col-sm-6>
      <input class=form-control type=text name=title required minlength=4 [(ngModel)]='product.title' #title='ngModel' placeholder="Title"/>
    </div>
    <div class="col-sm-6 form-control-static">
      <span *ngIf="title.errors && title.dirty">
        <span style=color:red [hidden]="!title.errors.required">Title required</span>
        <span style=color:red [hidden]="!title.errors.minlength">Minlength = 4</span>
      </span>
      <span *ngIf="title.valid" class="glyphicon glyphicon-ok" style=color:green></span>
    </div>
  </div>

  <div class=form-group>
    <div class=col-sm-6>
      <input class=form-control type=text name=price required [(ngModel)]='product.price' #price='ngModel' step=any placeholder="Price"/>
    </div>
    <div class="col-sm-6 form-control-static">
      <span *ngIf="price.errors && price.dirty">
        <span style=color:red [hidden]="!price.errors.required">Price required</span>
      </span>
      <span *ngIf="price.valid" class="glyphicon glyphicon-ok" style=color:green></span>
    </div>
  </div>

  <div class=form-group>
    <div class=col-sm-6>
      <input class=form-control type=text name=url [(ngModel)]='product.url' #url='ngModel' placeholder="Image URL"/>
    </div>
    <div class="col-sm-6 form-control-static">
      <span *ngIf="url.errors && url.dirty">
        <span style=color:red [hidden]="!url.errors.pattern">Enter a valid URL</span>
      </span>
      <span *ngIf="url.valid" class="glyphicon glyphicon-ok" style=color:green></span>
    </div>
  </div>

  <div class=form-group>
    <div class=col-sm-6>
    <button (click)="delete(index)" class="btn btn btn-danger">Delete</button> 
    <input *ngIf=!form.valid type=submit value=Edit class="btn btn-danger disabled" [disabled]=!form.valid>
    <input *ngIf=form.valid type=submit value=Edit class="btn btn-primary">
    </div>
  </div>

</form>